header {
   background-color: navy;
   height: 20%;
   padding: 0;
   margin:0;
}

.menubar{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 10px;
    row-gap: 10px;
    padding-right: 5%;
    padding-top: 5%;
}

.menubar a {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.menubar a:hover,
.menubar a:focus {
    text-decoration: underline;
    text-align: center;
    color: black;
    height: 36px;
}

.HeaderImg{
    display: flex;
    justify-content: end;
    padding: 5%;
    
}

div{
    color: white;
    padding: 5%;
}
.largeTxt{
    color: white;
    font-size: 10%;
}

h2 + h3{
    font-size: 5%;
    color: white;
}

.BodyImgs{
    display: flex;
    flex-wrap: wrap;
}
